@{
    ViewData["Title"] = "Home Page";
}

<h1>ClubRight Screening Assessment</h1>
<h3>Add your solution to question 2 here</h3>

<form method="post" asp-action="Increment">
    <button type="submit" class="btn btn-primary">Increment number by 1</button>
</form>
<p>Count: <span>@ViewData["Count"]</span></p>
